/* Variables to be controlled by js */
:root {
  --atime: 3000ms;
  --bgcolor: #3e5c90;
  --accent-color: #CDDC39;
}

@font-face {
  font-family: raleway;
  src: url(Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: raleway;
  src: url(Raleway/Raleway-Bold.ttf);
  font-weight: bold;
}

html, body {
  height: 100%;
}
body {
  background: var(--bgcolor);
  font-family: raleway;
  padding: 30px;
  overflow: hidden;
}

.heading {
  color: white;
  font-weight: normal;
}
.js {
  color: var(--accent-color);
  text-decoration: underline;
  font-weight: bold;
}

.each-setting {
  text-align: right;
  margin-right: 30px;
  display: inline-block;
  position: relative;
  z-index:2;
  float: right;
  top: -46px;
  clear: both;
  margin-top: 10px;
}
label {
  font-weight: bold;
  width: 140px;
  display: inline-block;
  margin-left: 10px;
  filter: brightness(200%);
  color: var(--bgcolor);
}


.box {
  position: absolute;
  display: block;
  height: 3px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  animation: rotate var(--atime) ease infinite;
  perspective: 1000px;
  top: 150px;
}

.ball {
  --ballHeight: 50px;
  position: absolute;
  bottom: 0px;
  border-radius: 100%;
  width: 50px;
  height: var(--ballHeight);
  background: var(--accent-color);

  animation: jumping var(--atime) cubic-bezier(0.23, -0.64, 0.82, 0.61) infinite;
}

.ball1 {
  left: 0%;
}
.ball2 {
  left: 10%
}
.ball3 {
  left: 20%;
}

.box1 {
  animation-delay: 0ms;
}
.box2 {
  animation-delay: 200ms;
}
.box3 {
  animation-delay: 400ms;
}

/*
  Animations
 */
@keyframes jumping {
  0% {
    transform: translateY(0);
    height: 30px;
  }
  10% {
    height: var(--ballHeight);
  }

  50% {
    transform: translateY(-300px);
  }

  90% {
    height: var(--ballHeight);
  }
  100% {
    transform: translateY(0);
    height: 30px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(0, 0) scale(0.5);
  }
  50% {
    transform: rotate(360deg) translate(200px, -100px) scale(1.3);
  }
  100% {
    transform: rotate(0deg) translate(0, 0) scale(0.5);
  }
}

